@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
html{
    background-color: #ffffff;
    font-size: 16px;
}
body{
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
/* header */
.header{
    width: 100%;
    height: 100px;
    background-color: #A0917C;
    padding: 0 100px;
}
.img_logo_l{
    position: absolute;
    height: 80px;
    margin-top: 10px;
}
.img_logo_M{
    display: none;
}
.nav_menu{
    display: none;
}
.menu_area{
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    width: 370px;
    height: 40px;
    margin: 30px 0 0 200px;
}
.menu_link{
    text-decoration: none;
    color: #fff;
}
.menu_link:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}
.menu_icon_area{
    position: absolute;
    width: 480px;
    height: 45px;
    margin-top: 28px;
    right: 0;
}
.menu_icon{
    position: absolute;
    height: 35px;
}
.box_search{
    position: absolute;
    width: 225px;
    height: 35px;
    margin-top: 2px;
    outline: 2px solid white;
    left: 0;
}
.icon_search{
    position: absolute;
    left: 5px;
    height: 28px;
    margin-top: 5px;
}
.icon_search_M{
    display: none;
}
.icon_user{
    position: absolute;
    right: 170px;
}
.icon_shop{
    position: absolute;
    right: 100px;
}
/* cover area */
.cover_area{
    position: relative;
    height: 100vh;
    background-image: url(../img/img_cover_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.cover_word{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 300px;
    margin-left: 150px;
    margin-top: 70px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}
.cover_header{
    font-size: 3rem;
    text-shadow: 0.04em 0.06em 0.08em #4f4f4f;
}
.cover_line{
    width: 100px;
    height: 4px;
    background-color: #A0917C;
}
.cover_contain{
    margin-top: 10px;
    text-shadow: 0.04em 0.06em 0.08em #4f4f4f;
}
.box_view_more{
    margin-top: 20px;
    width: 150px;
    height: 45px;
    text-align: center;
    color: #fff;
    background-color: #A0917C;
    border-radius: 3px 3px 3px 3px;
    font-weight: 200;
}
.box_view_more:hover{
    opacity: 0.5;
}
/* product area */
.row{
    text-align: center;
}
.trending{
    height: 70px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 4rem;
    margin-top: 60px;
}
.product_line{
    width: 130px;
    height: 5px;
    background-color: #A0917C;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 60px;
}
.product{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 295px;
    margin-bottom: 30px;
}
.name{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 295px;
    font-family: 'Dosis', sans-serif;
    font-size: 2.25rem;
    margin-bottom: 40px;
}
/* footer area */
footer{
    width: 100%;
    height: 80px;
    background-color: #A0917C;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    color: #fff;
}
.footer_icon{
    margin-top: 30px;
}
.footer_word{
    margin-top: 30px;
    text-align: center;
}
.footer_language{
    margin-top: 30px;
    text-align: right;
}
.footer_language_M{
    display: none;
}
.icon{
    width: 30px;
    margin-right: 12px;
}
.language{
    margin-left: 15px;
}
/* iPad version RWD*/
@media screen and (max-width: 1024px){
    html{
        font-size: 16px;
        max-width: 100%;
    }
    /* header */
    .header{
        height: 60px;
        padding: 0 30px;
    }
    .img_logo_l{
        display: none;
    }
    .img_logo_M{
        position: absolute;
        display: block;
        height: 38px;
        margin-top: 10px;
    }
    .nav_menu{
        display: none;
    }
    .menu_area{
        width: 315px;
        height: 30px;
        margin-top: 12px;
    }
    .menu_icon_area{
        width: 115px;
        height: 30px;
        margin-top: 15px;
    }
    .menu_icon{
        height: 30px;
    }
    .box_search{
        display: none;
    }
    .icon_search_M{
        display: block;
        position: absolute;
        right: 135px;
        height: 28px;
        margin-top: 1px;
    }
    .icon_user{
        right: 80px;
    }
    .icon_shop{
        right: 30px;
    }
    /* cover area */
    .cover_area{
        position: relative;
        height: 35vh;
        background-image: url(../img/img_cover_1.jpg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .cover_word{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 210px;
        margin-left: 90px;
        margin-top: 40px;
        line-height: 1.3;
    }
    .cover_header{
        font-size: 3rem;
        text-shadow: 0.04em 0.06em 0.08em #4f4f4f;
    }
    .cover_line{
        width: 100px;
        height: 4px;
        background-color: #A0917C;
    }
    .cover_contain{
        margin-top: 10px;
        text-shadow: 0.04em 0.06em 0.08em #4f4f4f;
    }
    .box_view_more{
        margin-top: 20px;
        width: 150px;
        height: 45px;
        text-align: center;
        color: #fff;
        background-color: #A0917C;
        border-radius: 3px 3px 3px 3px;
        font-weight: 200;
    }
    .box_view_more:hover{
        opacity: 0.5;
    }
    /* footer area */
    footer{
        height: 130px;
    }
    .footer_row{
        text-align: center;
    }
    .footer_icon{
        margin-top: 30px;
    }
    .footer_word{
        margin-top: 20px;
    }
    .footer_language{
        display: none;
    }
    .footer_language_M{
        display: block;
        margin-top: 30px;
    }
}
/* iPhone version RWD*/
@media screen and (max-width: 480px){
    html{
        font-size: 12px;
        max-width: 100%;
    }
    /* header */
    .header{
        position: relative;
        width: 100%;
        height: 50px;
        padding: 0 15px;
    }
    .img_logo_l{
        display: none;
    }
    .img_logo_M{
        position: absolute;
        display: block;
        height: 30px;
        margin-top: 10px;
    }
    .nav_menu{
        display: block;
        position: absolute;
        height: 30px;
        right: 0;
        padding-left: 15px;
        padding-right: 0;
    }
    .menu_area{
        display: none;
    }
    .menu_link{
        display: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .menu_click{
        display: block;
    }
    .menu_icon_area{
        position: absolute;
        width: 100px;
        height: 25px;
        margin-top: 15px;
        right: 30px;
    }
    .menu_icon{
        position: absolute;
        height: 24px;
    }
    .box_search{
        display: none;
    }
    .icon_search_M{
        display: block;
        position: absolute;
        right: 120px;
        height: 22px;
    }
    .icon_user{
        position: absolute;
        right: 80px;
        height: 22px;
    }
    .icon_shop{
        position: absolute;
        right: 40px;
    }
    /* cover area */
    .cover_area{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../img/img_cover_1.jpg);
        background-size: cover;
        background-position: center center;
    }
    .cover_word{
        width: 265px;
        height: 210px;
        margin-left: 20px;
        margin-top: 70px;
        font-family: 'Dosis', sans-serif;
        font-size: 1.5rem;
    }
    .box_view_more{
        width: 100px;
        height: 30px;
    }
    /* product area */
    .trending{
        height: 30px;
        text-align: center;
        font-size: 2rem;
        margin-top: 25px;
    }
    .product_line{
        width: 65px;
        height: 3px;
        margin-top: 6px;
        margin-bottom: 30px;
    }
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .product{
        width: 130px;
        margin-bottom: 10px;
    }
    .name{
        width: 130px;
        font-size: 1.15rem;
        margin-bottom: 30px;
    }
    /* footer area */
    footer{
        height: 80px;
    }
    .footer_row{
        height: 80px;
    }
    .footer_icon{
        position: absolute;
        text-align: center;
        margin-top: 15px;
    }
    .footer_word{
        position: absolute;
        margin-top: 5px;
    }
    .footer_language{
        display: none;
    }
    .footer_language_M{
        display: none;
    }
    .icon{
        width: 30px;
        margin-right: 12px;
    }
    .language{
        display: none;
    }
}